#logo {
  background: url(../img/logo-black.png) no-repeat center center;
  background-size: contain;
  display: block;
  width: 80%;
  height: 160px;
  margin: 0 auto; }

h2 {
  font-weight: normal;
  font-size: 36px;
  margin: 50px 0;
  text-align: center;
  display: block; }
  h2 span {
    font-weight: bold; }

#features {
  margin: 50px 0;
  text-align: center; }
  #features h4 {
    font-weight: bold;
    font-size: 18px;
    margin: 20px 0 10px 0; }
  #features p {
    font-weight: 300; }
  #features .icon {
    font-size: 3em; }
    #features .icon .fa {
      font-size: inherit; }
