@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

/*
+------------------------------------+
|									 |
|			General Styles			 |
|									 |
+------------------------------------+
*/

body {
	background: #111;
	font-family: 'Roboto', sans-serif;
	font-size: 16pt;
	color: #fff;
}

.wrapper-fluid {
	width: 100%;
}

.hidden {
	display: none;
}

.swrapper {
	width: 468px;
	margin: 100px auto;
}

a:hover {
	text-decoration: none;
	color: #fff;
}

.section h1 {
	font-size: 1.5em;
	font-weight: 400;
	color: #000;
	text-align: left;
	color: #fff;
}

.section h3 {
	font-size: 1.3em;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: #fff;
	text-align: left;
}


/*
+------------------------------------+
|									 |
|			  Navigation			 |
|									 |
+------------------------------------+
*/

.navbar {
	width: 100%;
	height: 75px;
	line-height: 75px;
	background: #8d21c7;
/*
	background: -webkit-linear-gradient(#a549ff 0%, #450073 100%);
	background: -o-linear-gradient(#a549ff 0%, #450073 100%);
	background: -moz-linear-gradient(#a549ff 0%, #450073 100%);
	background: linear-gradient(#a549ff 0%, #450073 100%);
*/
}

a {
	text-decoration: none;
	color: #fff;
}

.navlogo h1 {
	font-size: 1.5em;
	font-weight: 400;
	margin-left: 25px;
	float: left;
}

.navlogo h1 span {
	font-weight: 300;
}

.navbar ul {
	float: right;
	margin-right: 25px;
}

.navitem {
	display: inline-block;
}

.navlink {
	display: block;
	padding: 0 25px;
	text-decoration: none;
	color: #fff;
	font-size: 0.8em;
}

.navlink:hover {
	background: rgba(0,0,0,0.5);
}

.navsearch {
	display: none;
}

.navtoggle {
	display: none;
}

/*
+------------------------------------+
|									 |
|			Search Bar				 |
|									 |
+------------------------------------+
*/

#search {
	display: none;
}

.searchbar {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
}

::-webkit-input-placeholder {
   color: #adadad;
   opacity: 1 !important;
}

:-moz-placeholder { /* Firefox 18- */
   color: #adadad;
   opacity: 1 !important; 
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #adadad;	
   opacity: 1 !important; 
}

:-ms-input-placeholder {  
   color: #adadad;	
   opacity: 1 !important; 
}


/*
+------------------------------------+
|									 |
|			Form Styles				 |
|									 |
+------------------------------------+
*/

input[type="text"] {
	display: block;
	margin: 0;
	width: 100%;
	font-family: sans-serif;
	font-size: 18px;
	appearance: none;
	box-shadow: none;
	border-radius: none;
}

input[type="text"]:focus {
	outline: none;
}

input[type="text"] {
	padding: 10px;
	border: none;
	border-bottom: solid 2px #c9c9c9;
	transition: border 0.3s;
}
input[type="text"]:focus,
input[type="text"].focus {
	border-bottom: solid 2px #969696;
}

.form-group {
	display: block;
	width: 80%;
	margin: 0 auto;
	padding: 10px;
}

.form-group label {
	font-size: 0.8em;
	color: #adadad;
}




/*
+------------------------------------+
|									 |
|		Server List Styles			 |
|									 |
+------------------------------------+
*/

.push {
	overflow: hidden;
	list-style-type: none;
	font-weight: 300;
}
.push {
	margin-bottom: 0;
	padding-left: 0;
}

.push li {
	height: 60px;
	line-height: 60px;
	color: #555;
	position: relative;
	@include ellipsis();
}

.push li label {
	background: url(http://minecraftservers.org/banners/2987811475470590.gif);
	width: 468px;
	height: 60px;
	display: inline-block;
	padding: 0;
}

.push li label:hover {
	background-color: rgba(0, 0, 0, 0.36);
}

.push li input[type=checkbox] {
	display: none;
}

.push li nav {
	position: absolute;
	right: 0;
	top: 0;
	transform: translatex(100%);
	transition: all .5s ease;
	font-size: 0;
}

.push li nav a {
	height: 100%;
	display: inline-block;
	padding: 0 20px;
	color: #eee;
	text-decoration: none;
	font-size: 14px;
}
a.in {
	background: #ed981a;
}

a.in:hover {
	background: #bc7914;
}

a.ed {
	background: #3498db;
}

a.ed:hover {
	background: #2980b9;
}

a.rm {
	background: #189747;
}

a.rm:hover {
	background: #14873e;
}

.push li:hover {
	color: #fff;
}

.push li:hover nav,
.push li input:checked ~ nav {
	transform: translatex(0);
	transition: all .4s ease;
}

table {
	width: 468px;
	height: 90px;
	font-size: 18px;
	margin: 25px auto 100px auto;
}

table tr:first-of-type td {
	background: #000;
	border: 1px solid #fff;
	color: #fff;
	vertical-align: middle;
	height: 30px;
}
table tr:last-of-type td {
	border: 1px solid #fff;
	height: 60px;
}

table tr:first-of-type .ranknum {
	text-align: center;
	background: #333;
}

.stitle {
	text-indent: 10px;
}

.pcount {
	text-align: right;
	padding-right: 5px;
}

.small {
	color: #e0e0e0;
	font-size: smaller;
}

/*
+------------------------------------+
|									 |
|			Footer Styles			 |
|									 |
+------------------------------------+
*/




/*
+------------------------------------+
|									 |
|			Responsive				 |
|									 |
+------------------------------------+
*/

@media screen and (max-width: 767px) {
	
/*
	.navbar-header {
		display: flex;
	}
	
	.flex-item {
		justify-content: space-around;
	}
*/
	.hidden-on-mobile {
		display: none;
	}

	.navbar {
		line-height: normal;
	}

	.navlogo {
		display: block;
	}
	
	.navbar-header {
		 text-align: justify;
		 min-width: 320px;
	}
	.navbar-header:after {
		 content: '';
		 display: inline-block;
		 width: 100%;
	}
	.navbar-item {
		 display: inline-block;
	}
	
	.navlogo h1 {
		text-align: center;
		float: none;
		margin-left: 0;
	}
	
	.navsearch {
		display: block;
		width: 75px;
		height: 75px;
		background: none;
		border: none;
		font-size: 1.2em;
		color: #fff;
	}
	
	.navtoggle {
		display: block;
		width: 75px;
		height: 75px;
		background: none;
		border: none;
		font-size: 1.2em;
		color: #fff;
	}
	
	#collapsible {
		list-style-type: none;
		margin: 0;
		width: 100%;
		height: 350px;
		position: relative;
		display: none;
	}
	
	.navitem {
		width: 100%;
		height: 70px;
		line-height: 70px;
		font-weight: 500;
		font-size: 18pt;
		text-align: center;
	}
	
	.navitem:nth-of-type(1) {
		background: #CA85FF;
	}
	
	.navitem:nth-of-type(2) {
		background: #A04AE2;
	}
	
	.navitem:nth-of-type(3) {
		background: #7437A2;
	}
	
	.navitem:nth-of-type(4) {
		background: #582A7B;
	}
	
	.navitem:nth-of-type(5) {
		background: #381851;
	}
	
	.navlink {
		color: white;
		text-decoration: none;
		letter-spacing: 4.5px;
		display: flex;
		flex-grow: 1;
		flex-shrink: 1;
		justify-content: center;
	}
	
	.navlink:hover {
		background: rgba(0, 0, 0, 0.5);
		width: 100%;
	}
}